<!DOCTYPE html>
<html ng-app="CardWall">
  <head>
    <title>Wingle | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/ng-template" id="application.html"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>Wingle</h1>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
